body{
    margin:0px;
}
#login{
    text-align: right;
}
#header{
    display:flex;
    background-color: blue;
    color:white;
}
h1{
    text-align: center;
    background-color: gray;
    color:white;
    margin-top:0px;
    padding-top:20px;
    padding-bottom:20px;
    font-size:80px;
}
h2{
    font-size:50px;
}
h3{
    font-size:30px;
    text-align: center;
}
h4{
    text-align: right;
}
p{
    font-size:20px;
    margin-right:30px;
    text-align:justify;
}
.center{
    text-align:center;
    font-size:20px;
    margin-bottom: 40px;
}
.link{
    text-decoration: none;
    background-color: pink;
    padding:10px 40px;
    border-radius: 20px;
    margin-top:40px;
    color:blue;
}
section{
    display:flex;
    margin-left:0px;
    margin-bottom:50px;
    
}
#div{
    margin:20px 20px 150px 20px;
}
.half-inline{
    width:50%;
    margin-left:30px;
    padding:20px 10px 0px 20px;
}
.half-inline img{
    width:50%;
    height:100%;
}
#about{
    background-image: url(frame.jpg);
    background-repeat: no-repeat;
}
#image{
    margin-left:40px;
    height:100%;
}
.recipi{
    
   box-shadow: 10px 10px 20px gray;
   margin-left:20px;
   margin-right:20px;
   padding:10px 20px;
   border-radius:10px;
}

.recipi img{
    height:100%;
    width:100%;
}
button{
    background-color: rgb(243, 220, 162);
    border: 2px solid rgb(218, 211, 211);
    border-radius: 5px;
}
.order{
    text-decoration: none;
    padding:10px;
    
}
#moral{
    background-color:black;
    color:lightcyan;
    padding:20px;
}
